*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(241, 238, 238);
}

header{
    background-color: darkslategray;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

h1{
    font-size: 48px;
    color: white;
}

ul{
    padding-left: 40px;
}

section.search-criteria{
    background-color: rgb(192, 190, 190);
    margin: 0;
    padding: 10px;
}